/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* General */

html {
    scroll-behavior: smooth;
    --color1: #000e7c;
    --color2: #fff;
    --color3: #f6f6fb;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'DM Sans', sans-serif;*/
    background-color: var(--color2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;  
    font-size: 10pt;
    font-weight: 300;
}

section {
    display: flex;
    flex-direction: column;
    margin: 2vh 0vh 2vh 0vh;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Header */

header {
    height: 5vh;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-left: 4vh;
    margin-right: 4vh;
}

header h2 {
    font-size: calc(0.75vw + 0.75vh);
    color: var(--color1);
    font-weight: 700;
    width: 60vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}

nav a {
    font-size: calc(0.75vw + 0.75vh);
    color: var(--color1);
    margin-left: auto;
}

nav a:hover {
    font-style: italic;
}

#name {
    display: none;
}

@media only screen and (max-width: 600px) {
    header h2 {
        font-size: calc(1.25vw + 1.25vh);
    }   

    nav {
        width: 100vw;
    }

    nav a {
        font-size: calc(1.25vw + 1.25vh);
    }

    #name {
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--color2);
        font-size: calc(1.3vw + 1.3vh);
        font-weight: 300;
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Main */

#main {
    background: url('background9.jpg') center/175% no-repeat;
    /*border-radius: 4vh;*/
    height: 91vh;
    border-top: var(--color1) 2px solid;
}

h1 {
    margin-top: auto;
    text-align: right;
    font-size: calc(5vw + 5vh);
    color: var(--color1);
    font-weight: 200;
    padding-right: 2vw;
}

#main div {
    display: flex;
    flex-direction: column;
    padding: 2vh 0vw 2vh 0vw;
    margin-left: 4vh;
}

#main a {
    font-size: calc(1vw + 1vh);
    color: var(--color1);
}

#main a:hover {
    font-style: italic;
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    #main div a {
        font-size: calc(0.75vw + 0.75vh);
    }

    .flag {
        width: 2.5vh;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: calc(4vw + 4vh);
        padding-bottom: 10vw;
        margin-left: 10vw;
    }

    #main a {
        font-size: calc(1.25vw + 1.25vh);
    }

    #main {
        background: url('background9.jpg') center/300% no-repeat;
    }

    .flag {
        width: 2.5vh;
    }
}
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* About */

#about-me {
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
    width: 70vw;
}

h3 {
    font-size: calc(0.75vw + 0.75vh);
    color: var(--color1);
    font-weight: 500;
    padding-bottom: 1vh;
}

article div {
    display: flex;
    padding-bottom: 2vh;
}

h4 {
    font-size: calc(1.25vw + 1.25vh);
    color: var(--color1);
    font-weight: 200;
    text-align: left;
    width: 30%;
    padding-right: 2vw;
}

article p, article div p {
    font-size: calc(1.25vw + 1.25vh);
    color: var(--color1);
    font-weight: 200;
    text-align: justify;   
}

article div p {
    width: 70%;
}

@media only screen and (max-width: 900px) {
    article {
        width: 90vw;
    }

    div {
        flex-direction: column;
    }

    h4 {
        font-size: 1.1em;
        width: 100%;
        padding-right: 0vw;
        font-style: italic;

    }
    
    article div p {
        width: 100%;    
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Footer */

footer {
    background-color: var(--color3);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    border-radius: 4vh;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    margin-bottom: 20vh;
    border-top: 1px solid var(--color1);
    border-bottom: 1px solid var(--color1);
}

footer p {
    font-size: calc(3vw + 3vh);
    color: var(--color1);
    padding-bottom: 1vh;
    text-align: center;
    font-weight: 200;
    margin-top: 20vh;
}

footer a {
    font-size: calc(1.5vw + 1.5vh);
    color: var(--color1);
    font-weight: 200;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

footer a:hover {
    font-style: none;
    background-color: var(--color2);
}

.curriculum {
    border-left: 1px solid var(--color1);
}

.email {
    border-right: 1px solid var(--color1);
}

.number {
    border-right: 1px solid var(--color1);
}

@media only screen and (max-width: 950px) {
    footer div {
        flex-direction: column;
    }
  
    .curriculum {
        border-left: 0px solid var(--color1);
        border-top: 1px solid var(--color1);
        border-bottom: 1px solid var(--color1);
        width: 100%;
    }

    .email {
        border-right: 0px solid var(--color1);
        border-top: 1px solid var(--color1);
        width: 100%;
    }

    .number {
        border-right: 0px solid var(--color1);
        border-top: 1px solid var(--color1);
        width: 100%;
    }

    .linkedin {
        border-top: 1px solid var(--color1);
        width: 100%;
    }

    footer div {
        border-top: 0px solid var(--color1);
        border-bottom: 0px solid var(--color1);
    }
}